<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    {{ >header.view }}
    <div class="main">
        <h1 class="title"> Base page title </h1>
        {{{content }}}
        this is base after
        <section>
            <button class="alert"> Alert !</button>
        </section>
        <p> This text is for base html: {{ logo }} </p>
    </div>
    {{ >footer.view }}
    <script src="/js/index.js"></script>
</body>
</html>