
body {
    background-color: burlywood;
}

header {
    text-align: center;
    height: 100px;
    background-color: rgb(82, 197, 111);
    color: cornsilk;
}

footer {
    text-align: center;
    height: 100px;
    background-color: rgb(170, 82, 197);
}

.title{
    color: rgb(223, 67, 67);
}

.editor {
    background-color: blue;
}

.label {
    display: block;
}