<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    {{ > layout/header.view }}
    <div class="main">
        <h1 class="title"> {{ headTitle }} </h1>
        <div class="layout-content">
            {{{ content }}}
        </div>
    </div>
    {{ > layout/footer.view }}
    <script src="/js/index.js"></script>
</body>
</html>